
<div class="tab type-header">
  <ul>
    <li [ngClass]="oActiveTab == 'um-mng' ? 'on':''">
      <a (click)="onTabClick('um-mng')"><span>{{'WPP_USER_MANAGER.MENU.menu1' | translate }}</span></a>
    </li>
    <li [ngClass]="oActiveTab == 'um-login' ? 'on':''">
      <a (click)="onTabClick('um-login')" ><span>{{'WPP_USER_MANAGER.MENU.menu2' | translate }}</span></a>
    </li>
  </ul>
</div>
<div class="container">
  <um-mng  *ngIf="oActiveTab == 'um-mng'"></um-mng>  
  <um-login  *ngIf="oActiveTab == 'um-login'"></um-login>
</div>
<lib-wp-loading [iName]="'usermanagerspin'" [iFullScreen]="true"></lib-wp-loading>