<div id="wp-oodbc-update-popup" class="modal extra-large on">
    <div class="modal-inner">
        <div class="modal-header">
            <div class="tit">
                {{'WPP_COMMON.POPUP.popup2' | translate }}
            </div>
        </div>
        <div class="modal-body full">
            <lib-wp-loading [iName]="'wppopupspin'" [iFullScreen]="false"></lib-wp-loading>
            <div class="modal-body-column">
                <div class="row defualt">
                    <div class="column" style="width: 45%;">
                        <!-- <div class="input-item type-label">
                            <div class="input-item-inner grid">
                                <div class="settings-tit left">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup79' | translate }}</div>
                            </div>
                        </div>  해제-->
                        <!-- <div style="margin: 10px 0 10px 0;">
                            <p style="text-align:center;font-size: 1.3rem;">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup33' | translate }} np, pd</p>
                        </div> -->
                        <!-- <div class="input-item">
                            <lib-wp-grid *ngIf="oGridData" (callBack)="undefined" [iColInfo]="oGridCol"
                                [iGridData]="oGridData"></lib-wp-grid>
                        </div> 해제 -->
                        <div class="grid-container-vertical">
                            <!-- Input 컬럼 영역 -->
                            <div class="grid-box">
                                <div class="input-item type-label">
                                    <div class="input-item-inner grid">
                                        <div class="settings-tit left">{{ 'WPP_WORKFLOW.COMPONENT.POPUP.popup79' | translate }}</div>
                                    </div>
                                </div>
                                <div class="input-item scrollable-grid">
                                    <lib-wp-grid *ngIf="oGridData" [iColInfo]="oGridCol" [iGridData]="oGridData"></lib-wp-grid>
                                </div>
                            </div>

                            <!-- Output 컬럼 영역 -->
                            <div class="grid-box" style="padding-top: 15px;">
                                <div class="input-item type-label">
                                    <div class="input-item-inner grid">
                                        <div class="settings-tit left">{{ 'WPP_WORKFLOW.COMPONENT.POPUP.popup82' | translate }}</div>
                                    </div>
                                </div>
                                <div class="    ">
                                    <lib-wp-grid *ngIf="oGridOutputData" [iColInfo]="oGridOutputCol" [iGridData]="oGridOutputData"></lib-wp-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column" style="width: 55%;">
                        <div class="input-item type-label">
                            <div class="input-item-inner grid">
                                <div class="settings-tit left">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup80' | translate }}</div>
                            </div>
                        </div>
                        <div style="margin: 10px 0 10px 0;">
                            <p class="guide-txt" style="font-size: 1.3rem;">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup81' | translate }}</p>
                            <!-- <p *ngIf="data.excuteFlag" class="guide-txt" style="font-size: 1.3rem;">데이터프레임 df 에 변환하려는 파이썬 코드를 실행합니다.</p>
                            <p *ngIf="!data.excuteFlag" class="guide-txt" style="font-size: 1.3rem;">데이터프레임 df 에 적용하려는 파이썬 코드를 입력합니다.</p> -->
                        </div>
                        <div class="input-item">
                            <div id="wp-oodbc-update-popup-code" class="component-code"
                                style="height: 370px; border: 1px solid #f0f1f7;border-radius: 6px;margin-bottom:10px">
                                <ngx-monaco-editor *ngIf="h_queryOptions" id="wp-oodbc-update-popup-code" class="monaco"
                                    [options]="h_queryOptions" [(ngModel)]="h_query.code" (onInit)="editorInit($event)">
                                </ngx-monaco-editor>
                            </div>
                            <div *ngIf="true" style="text-align: right;">
                                <a (click)="onSubmit($event)" class="btn sm">{{'WPP_COMMON.BUTTON.button7' | translate }}</a>
                            </div>
                        </div>
                    </div>
                    <!-- 결과창 주석 -->
                    <!-- <div class="column" id="code-result" style="width: 60%;">
                        <div class="input-item type-label">
                            <div class="input-item-inner grid">
                                <div class="settings-tit left">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup38' | translate }}</div>
                            </div>
                        </div>
                        <div class="input-item">
                            <div class="input-item-inner">
                                <textarea [value]="h_codeResult" style="height: 400px;max-height:400px;"></textarea>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="grid-div">
                <div class="right">
                    <!-- <a (click)="onSubmit($event)" class="btn sm">코드 실행</a> -->
                    <!-- <a *ngIf="data.excuteFlag" (click)="onClose()" class="btn sm natural modalClose">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup51' | translate }}</a>
                    <a *ngIf="!data.excuteFlag" (click)="onSubmit($event)" class="btn sm">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup51' | translate }}</a> -->

                </div>
            </div>
        </div>
        <div class="modal-controller">
            <a (click)="onClose()" class="ico close modalClose">닫기</a>
        </div>
    </div>
    <!-- <div class="modal-dim"></div> -->
</div>