.dx-treeview{
    height: 92%;
}
.treeNav{    
    position: relative;
    z-index: 99999;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 25%);
    transition: opacity 0.4s ease-in-out;
    margin: 20px 0 50px 50px;
    height: 85%;
    padding: 15px 30px 30px 30px;
    width: 400px;
}