::ng-deep .panel-app.workflow > .panel-grid.resizable-vertical.ui-resizable > .ui-resizable-handle.ui-resizable-s {
    width: 100%;
    height: 15px;
    border: none;
    background-color:transparent
}