::ng-deep #wp-user-parameter-popup.mat-dialog-container{
    box-shadow: none;
    color: inherit;
    background: transparent;
    width:1100px;
}

::ng-deep #wp-popup-param_value p.tooltip-info {
    min-width:400px
}

::ng-deep #wpUserParamPopup lib-wp-grid > .scroll-wrapper.component-table.scrollbar {
    height: 460px;
}