::ng-deep #wp-ensemble-popup.mat-dialog-container {
    box-shadow: none;
    color: inherit;
    background: transparent;
    width: 100%;
}

#wp-ensemble-popup .scroll-wrapper>.scroll-content {
    height: auto;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: 300px;
}


::ng-deep #wpEnsemblePopup .row.iptauto {
    border-top: none;
}

::ng-deep #wpEnsemblePopup .input-item .grid {
    border-bottom: 1px dashed #e7e7e7;
}

::ng-deep #wpEnsemblePopup .modal-body {
    min-height: 500px;
}

::ng-deep #wpEnsemblePopup .modal-body .scrollbar {
    height: 500px;
}

