<div id="wpPythonPopup" class="modal large on">
    <div class="modal-inner">
        <div class="modal-header">
            <div class="tit">
                {{'WPP_COMMON.POPUP.popup2' | translate }}
            </div>
        </div>
        <div class="modal-body full">
            <lib-wp-loading [iName]="'wppopupspin'" [iFullScreen]="false"></lib-wp-loading>
            <div class="modal-body-column">
                <div class="row defualt" id="default_python">
                    <div class="column" style="width: 35%;">
                        <div class="input-item type-label">
                            <div class="input-item-inner grid">
                                <div class="settings-tit left">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup32' | translate }}
                                </div>
                            </div>
                        </div>
                        <div style="margin: 10px 0 10px 0;">
                            <p style="text-align:center;font-size: 1.3rem;">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup33' |
                                translate }} np, pd</p>
                        </div>
                        <div class="input-item">
                            <lib-wp-grid *ngIf="oGridData" (callBack)="undefined" [iColInfo]="oGridCol"
                                [iGridData]="oGridData"></lib-wp-grid>
                        </div>
                    </div>
                    <div class="column" style="width: 60%;">
                        <div class="input-item type-label">
                            <div class="input-item-inner grid">
                                <div class="settings-tit left">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup36' | translate }}
                                </div>
                            </div>
                        </div>
                        <div style="margin: 10px 0 10px 0;">
                            <p class="guide-txt" style="font-size: 1.3rem;">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup37' |
                                translate }}</p>
                            <!-- <p *ngIf="data.excuteFlag" class="guide-txt" style="font-size: 1.3rem;">데이터프레임 df 에 변환하려는 파이썬 코드를 실행합니다.</p>
                            <p *ngIf="!data.excuteFlag" class="guide-txt" style="font-size: 1.3rem;">데이터프레임 df 에 적용하려는 파이썬 코드를 입력합니다.</p> -->
                        </div>
                        <div class="input-item">
                            <div id="wp-python-popup-code" class="component-code"
                                style="height: 370px; border: 1px solid #f0f1f7;border-radius: 6px;margin-bottom:10px">
                                <ngx-monaco-editor *ngIf="h_queryOptions" id="wp_python_popup_code" class="monaco"
                                    [options]="h_queryOptions" [(ngModel)]="h_query.code" (onInit)="editorInit($event)">
                                </ngx-monaco-editor>
                            </div>
                            <div *ngIf="data.excuteFlag" style="text-align: right;">
                                <a (click)="onSubmit($event)" class="btn sm">{{'WPP_COMMON.BUTTON.button5' | translate
                                    }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="column" id="code-result" style="width: 60%;">
                        <div class="input-item type-label">
                            <div class="input-item-inner grid">
                                <div class="settings-tit left">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup38' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="input-item">
                            <div class="input-item-inner">
                                <textarea [value]="h_codeResult" style="height: 400px;max-height:400px;"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <ng-container *ngIf="h_popup=='transfer-model' || h_popup=='pytorch-class'">
                <div style="margin-top: 10px;" *ngIf="h_popup=='transfer-model'">
                    <div class="input-item type-label">
                        <div class="input-item-inner grid">
                            <div class="settings-tit left" style="margin-left: 10px;">사전학습 모델 레이어 구조</div>
                        </div>
                    </div>
                    <!-- <div style="margin: 10px 0 10px 0;">
                        <p style="text-align:center;font-size: 1.3rem;">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup33' | translate }} np, pd</p>
                    </div> -->
                    <div *ngIf="oGridData" id="modal-layer">
                        <lib-wp-grid [iColInfo]="oGridCol" [iGridData]="oGridData" style="height: auto;"></lib-wp-grid>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <div class="input-item type-label">
                        <div class="input-item-inner grid">
                            <div class="settings-tit left" style="margin-left: 10px;">
                                {{'WPP_WORKFLOW.COMPONENT.POPUP.popup36' | translate }}</div>
                        </div>
                    </div>
                    <div *ngIf="!h_pythonResult">
                        <div style="margin: 10px 0 10px 0;">
                            <p class="guide-txt" style="font-size: 1.3rem;" *ngIf="h_popup=='transfer-model'">전이학습 모델 Python 코드를 작성합니다.</p>
                            <p class="guide-txt" style="font-size: 1.3rem;" *ngIf="h_popup=='pytorch-class'">파이토치 모델 클래스 Python 코드를 작성합니다.</p>
                            <!-- <p *ngIf="data.excuteFlag" class="guide-txt" style="font-size: 1.3rem;">데이터프레임 df 에 변환하려는 파이썬 코드를 실행합니다.</p>
                        <p *ngIf="!data.excuteFlag" class="guide-txt" style="font-size: 1.3rem;">데이터프레임 df 에 적용하려는 파이썬 코드를 입력합니다.</p> -->
                        </div>
                        <div class="input-item">
                            <div id="wp-python-popup-code" class="component-code"
                                style="height: 370px; border: 1px solid #f0f1f7;border-radius: 6px;margin-bottom:10px">
                                <ngx-monaco-editor *ngIf="h_queryOptions" id="wp_python_popup_code" class="monaco"
                                    [options]="h_queryOptions" [(ngModel)]="h_query.code" (onInit)="editorInit($event)">
                                </ngx-monaco-editor>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="h_pythonResult">
                        <div style="margin: 10px 0 10px 0;">
                            <p class="guide-txt" style="font-size: 1.3rem;">실행한 전이학습 모델 레이어 정보입니다.</p>
                            <!-- <p *ngIf="data.excuteFlag" class="guide-txt" style="font-size: 1.3rem;">데이터프레임 df 에 변환하려는 파이썬 코드를 실행합니다.</p>
                        <p *ngIf="!data.excuteFlag" class="guide-txt" style="font-size: 1.3rem;">데이터프레임 df 에 적용하려는 파이썬 코드를 입력합니다.</p> -->
                        </div>
                        <div class="input-item">
                            <div id="wp-python-popup-result-code" class="component-code"
                                style="height: 370px; border: 1px solid #f0f1f7;border-radius: 6px;margin-bottom:10px">
                                <ngx-monaco-editor *ngIf="h_result_queryOptions" id="wp_python_popup_result_code" class="monaco"
                                    [options]="h_result_queryOptions" [(ngModel)]="h_result_query.code">
                                </ngx-monaco-editor>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="modal-footer">
            <div class="grid-div">
                <div class="right" *ngIf="h_popup==null">
                    <!-- <a (click)="onSubmit($event)" class="btn sm">코드 실행</a> -->
                    <a *ngIf="data.excuteFlag" (click)="onClose()"
                        class="btn sm natural modalClose">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup51' | translate }}</a>
                    <a *ngIf="!data.excuteFlag" (click)="onSubmit($event)"
                        class="btn sm">{{'WPP_WORKFLOW.COMPONENT.POPUP.popup51' | translate }}</a>
                </div>
                <div *ngIf="h_popup=='transfer-model' || h_popup=='pytorch-class'">
                    <div *ngIf="!h_pythonResult">
                    <a (click)="onPythonSubmit('check')" class="btn sm">코드 검증</a>
                    </div>
                    <div *ngIf="h_pythonResult">
                        <a (click)="onPythonSubmit('code')" class="btn sm">코드 수정</a>
                        <a (click)="onPythonSubmit('access')" class="btn sm">코드 적용</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-controller">
            <a (click)="onClose()" class="ico close modalClose">닫기</a>
        </div>
    </div>
    <!-- <div class="modal-dim"></div> -->
</div>