/* ::ng-deep.mat-dialog-container.log-popup-dialog{
    box-shadow: none;
    color: inherit;
    background: transparent;
    width:1100px;
} */
/* ::ng-deep.modal-content {
    background-color: transparent;
    border: none;
} */
.input-group {
    display: block;
}
::ng-deep.modal-body .row {
    width: 100%;
}
::ng-deep.row.defualt {
    display: flex;
    flex-wrap: nowrap;
}
::ng-deep.row>* {
    flex-shrink: 1;
}
::ng-deep.modal .modal-body-column .column {
    width: 100%;
}

::ng-deep#sch_pop {
    padding:0;
}

::ng-deep#sch_pop > .modal-body .scrollbar {
    max-height: 700px;
    height: 100%;
}
::ng-deep#sch_pop > .scroll-wrapper .scrollbar {
    max-height: 700px;
    height: 100%;
}
.scroll-wrapper {
    background-color: red;
}